{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <h1>Espace list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isdisponible</th>
                <th>Etat</th>
                <th>Nombreplaceassises</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('espace_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.isDisponible }}</td>
                <td>{{ entity.etat }}</td>
                <td>{{ entity.nombrePlaceAssises }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('espace_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('espace_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('espace_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
