{% extends "PFEDashBundle::layout.html.twig" %}

{% block body -%}
    <h1>Espace</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Isdisponible</th>
                <td>{{ entity.isDisponible }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.etat }}</td>
            </tr>
            <tr>
                <th>Nombreplaceassises</th>
                <td>{{ entity.nombrePlaceAssises }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('espace') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('espace_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
