{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Equipement list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isdisponible</th>
                <th>Nombre</th>
                <th>Nombre_endommage</th>
                <th>Nombre_nutilisable</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('equipement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.isDisponible }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.nombreendommage }}</td>
                <td>{{ entity.nombrenutilisable }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('equipement_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('equipement_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('equipement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
