{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row card-panel wtitle top-blue">
  <h5 class="card-title">Espaces Bibliothèque</h5>
  <form class="col s12">
    <div class="row">
      <!--  -->
      <div class="col s4">
      	Hello {{ name }}!
      </div>
      <!--  -->
      <div class="col s4">
      	Hello {{ name }}!
      </div>

      <div class="col s4">
      	Hello {{ name }}!
      </div>

     
    </div>
  </form>
</div>

<div class="row card-panel wtitle top-red col s7">
  <h5 class="card-title">Espaces Equipements</h5>
  <form class="col s12">
    <div class="row">
      	Hello {{ name }}!
    </div>
  </form>
</div>


<div class="row card-panel wtitle top-green col s4 offset-s1">
  <h5 class="card-title">Espaces Rayonnages</h5>
  <form class="col s12">
    <div class="row">
      	Hello {{ name }}!
    </div>
  </form>
</div>
{% endblock %}